[Desktop Entry]
Name=NetAssistant
Comment=多协议网络调试工具
Exec=netassistant
Icon=netassistant
Type=Application
Categories=Development;Network;
Terminal=false